/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************************** 
        Defaults
****************************/
body{
    background-color: #F2E8D6;
}
h1, h2, h3, h4, h5, h5, nav{
    font-family: "Krona One";
    color:#2c4a56;
}
#nav a{
    padding:10px;
}
p, footer, ul, li{
    font-family: "dm sans";
    font-weight: lighter;
    line-height: 20px;
    color:#2c4a56;
}
#footer-links{
    font-family: "dm sans";
    font-weight: lighter;
    line-height: 20px;
    color:#2c4a56;  
}
#bottom-links a{ 
    font-family: "Krona One";
    color:#2c4a56;
}
::placeholder{
    font-family: "dm sans";
    color: #2c4a56;
    padding: 10px 0;
}
h1{
    font-size: larger;
    padding-bottom: 10px;
}
h2{
    font-size: large;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color:#2C4A56;
}
a:hover{
    color:#cf828f;
}
.container{
    max-width:80%;
    padding: 20px;
    margin:0 auto;
    background-color: #f2e8d6;
}
.active{
    color:#cf828f;
    text-decoration: underline;
}
#logo-blue-box{
    width: 130px;
}

/*****************************
            MOBILE
*****************************/
@media screen and (max-width: 480px){
#nav{
     display: flex;
     flex-direction:row;
     align-items: center;
     justify-content: space-between;
     padding-bottom: 20px;
    } 
    #nav2{
        display:flex;
        flex-grow: 1;
        flex-direction:column;
        align-items: flex-end;
        }
 #logo-blue-box{
     width: 130px;
    } 
.front-img{
    display: none;
    }
.img{
    width:100%;
}
.portfolio-grid{
    margin: 0 auto;
    padding: 30px 0 10px;
}
.grid-container{
    max-height: 500px;
    overflow: scroll;
}
.grid-item{
    padding:6px 0;
}
.social-icons{
    max-width: 55px;
}
#soc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0 30px 0;
}
footer{
    font-size: small;
}
 #footer-links{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: baseline;
}
#bottom-links{
    text-align: end;
    font-size: smaller;
    padding:16px 0;
}
.hidden{
    display: none;
}
}

/** COLOURS

HIGHLIGHTS/hover
darker pink: #cf828f

SECOND BACKGROUND
light pink: #f0d3cb

BACKGROUND
light yellow:#f2e8d6

darkest color??: #2c2d2d

TEXT
text color: #2C4A56

**/