/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************************** 
        Defaults
****************************/
body{
    background-color: #F2E8D6;
}
h1, h2, h3, h4, h5, h5, a{
    font-family: "Krona One";
}
p{
    font-family: "dm sans";
    font-weight: lighter;
}
a{
    text-decoration: none;
    color:#2C4A56;
    padding: 6px 0;
}
a:hover{
    color:#cf828f;
}
.container{
    max-width:80%;
    padding: 20px;
    margin:0 auto;
    background-color: #F2E8D6;
}
#nav{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    padding: 8px 0 8px 0;
}
h1{
    font-size: 20pt;
  
}
.active{
    color:#cf828f;
    text-decoration: underline;
}
#logo-blue-box{
    width: 130px;
}
.front-img{
    width:66%;
    padding:0 10px;
    margin-top: -192px;
}
#main-text{
padding: 0 20px;
max-width: 260px;
margin: 0 auto;
}
#about-text{
 padding: 0 20px;
}
#main, #about{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

.grid-imgs{
    display:grid;
    grid-template-columns: repeat(2,400px);
    grid-gap: 30px;
}


.social-icons{
    width:70px;
    padding:18px;
}
footer{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

/** COLOURS

HIGHLIGHTS/hover
darker pink: #cf828f

SECOND BACKGROUND
light pink: #f0d3cb

BACKGROUND
light yellow:#cf828f

darkest color??: #2c2d2d

TEXT
text color: #2C4A56

**/